.root {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@keyframes slide-in {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0vh);
  }
}

.title {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 0.8;
  font-size: 11vw;
  text-align: right;
  cursor: pointer;
  margin-bottom: -0.04em;
  margin-left: -0.07em;
  animation-name: slide-in;
  animation-property: transform;
  animation-delay: 0.1s;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.2, 1, 0.5, 1);
  animation-fill-mode: backwards;
}